.angular-google-map,
.angular-google-map-container {
  width: 100%;
}


input {
  height: 34px !important;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  letter-spacing: 1px;
  border-radius: 0px !important;
  border: 1px;
  box-shadow: 2px 1px 5px #DEE5E7;

}

input[type=radio] {
  border: 3px;
  width: 100%;
  height: 2em;
}

::-webkit-input-placeholder { font-size: 12pt; }
::-moz-placeholder { font-size: 12pt; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 12pt; } /* ie */
input:-moz-placeholder { font-size: 12pt; }

a{
  color: blue ;
  border-bottom: 1px solid blue;

}
select {
  height: 40px !important;
  width: 100%;
  padding-left: 7px;
  font-size: 17px;
  letter-spacing: 2px;
  /*border-top: none;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid rgb(155,156,155) !important;
  background-color: rgb(240,243,244);*/
  /*background: url('../img/icon_select.png') no-repeat scroll 50% 50% transparent;*/
}

select  option.selected{
	color: rgb(238,238,238) !important;
}

label + input{
	display: inline-block !important;
}

.form-horizontal .control-label-2 {
    padding-top: 18px;
    margin-bottom: 0px;
    text-align: right;
    font-size: 12pt;
}

.m-top-19{
	margin-top: -19px;
}

.btn-saime-stand {
  color: gray;
  background-image: -moz-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  background-image: -o-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  border-radius: 5px !important;
}

.btn-saime-stand:hover,
.btn-saime-stand:focus,
.btn-saime-stand:active,
.btn-saime-stand.active,
.open > .dropdown-toggle.btn-saime-stand {
  color: white;
  background-color: #3071a9;
}
.btn-saime-stand:active,
.btn-saime-stand.active,
.open > .dropdown-toggle.btn-saime-stand {
  background-image: none;
}
.btn-saime-stand.disabled,
.btn-saime-stand[disabled],
fieldset[disabled] .btn-saime-stand,
.btn-saime-stand.disabled:hover,
.btn-saime-stand[disabled]:hover,
fieldset[disabled] .btn-saime-stand:hover,
.btn-saime-stand.disabled:focus,
.btn-saime-stand[disabled]:focus,
fieldset[disabled] .btn-saime-stand:focus,
.btn-saime-stand.disabled:active,
.btn-saime-stand[disabled]:active,
fieldset[disabled] .btn-saime-stand:active,
.btn-saime-stand.disabled.active,
.btn-saime-stand[disabled].active,
fieldset[disabled] .btn-saime-stand.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-saime-stand .badge {
  color: #428bca;
  background-color: #fff;
}
.findbtn {
    font-size: 16pt;
    padding: 4px;
}
.saime-btn-lg {
    width: auto !important;
    font-size: 22pt !important;
    padding: 10px 45px 10px 45px;
}

.saime-btn-send {
    width: 34% !important;
    font-size: 22pt !important; 
}
.saime-bg{
	background-color: rgb(244,246,111) !important;
}

.saime-menu .btn-default{
  margin-bottom: 8px;
  width: 685px;
  height: 90px;
  overflow: hidden;
}

.saime-btn-menu{
  font-size: 17pt;
  border-radius: 10px !important;
  background-image: -webkit-linear-gradient(bottom, rgb(191,191,193) 0%, rgb(220,220,220) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(191,191,193) 0%, rgb(220,220,220) 100%);
  background-image: -o-linear-gradient(bottom, rgb(191,191,193) 0%, rgb(220,220,220) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(191,191,193) 0%, rgb(220,220,220) 100%);
}

.col-center{
  text-align: center;
}

.saime-btn-yellow{
  font-size: 25pt;
  border-radius: 10px !important;
  background-image: -moz-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  background-image: -o-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
}

.saime-btn-blue{
  font-size: 25pt;
  color: white !important;
  border-radius: 10px !important;
  background-image: -moz-linear-gradient(bottom, rgb(53,71,111) 0%, rgb(62,100,171)  100%);
  background-image: -webkit-linear-gradient(bottom, rgb(53,71,111) 0%, rgb(62,100,171) 100%);
  background-image: -o-linear-gradient(bottom, rgb(53,71,111) 0%, rgb(62,100,171) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(53,71,111) 0%, rgb(62,100,171) 100%);
}
.saime-btn-blue:hover{
  color: white !important;
}

.left-tittle{
  float:left !important;
}

.saime-btn-search{
  width: 145px;
  height: 43px;
  border-radius: 6px !important;
  font-size: 14pt;
  background-image: -moz-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  background-image: -o-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(240,199,29) 0%, rgb(246,218,59) 100%);

}

/*.border-input{
  height: 10px;
  border-left: 1px solid rgb(155,156,155);
  border-right: 1px solid rgb(155,156,155);
  width: 100%;
  position: relative;
  top: -10px;
}*/

.btn-group-vertical button .triangulo-y{
  width: 160px;
  height: 0px;
  border-bottom: 99px solid rgb(240,199,29);
  border-right: 98px solid transparent;
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  transition: all 0.4s ease-out 0s;
}

.btn-group-vertical button .triangulo-b{
  width: 145px;
  height: 0px;
  border-bottom: 99px solid rgb(62,100,171);
  border-right: 98px solid transparent;
  position: absolute;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  transition: all 0.4s ease-out 0s;
}

.saime-menu h1,
.saime-menu h2,
.saime-menu h3,
.saime-menu h4,
.saime-menu h5,
.saime-menu h6{
  margin-top: 5px;
}

.saime-menu h2 + h5{
  margin-top: -5px !important;
}

form select{
  margin-bottom: 10px;
}

.header-saime{
  width: 100%;    
}


.tramite-list{
  background-color: rgb(46,60,123);
  width: 16px;
  color: rgb(46,60,123);
  height: 100px;
  margin-left: -18px;
  margin-bottom: -1px;
  margin-top: -36px;
}

ul {
  list-style-type: none;
}

.tramite-circulo{
  background-color: rgb(46,60,123);
  color: rgb(46,60,123);
  width: 31px;
  border-radius: 15px;
  margin-left: -25px;
  margin-bottom: -23px;
  height: 31px;
}

.tramite-nombre{
  margin-left: 30px;
  font-size: 30pt;
}

.img-saime{
  border-radius: 92px;
  margin-top: -485px;
  margin-left: 420px;
  border-radius: 80px;
  border: 17px solid rgb(47,59,117);
}

.saime-saludo{
  margin-left: 569px;
  width: 100px;
  background-color: rgb(47,59,117);
  margin-top: -300px;
  opacity: 0.99;
  text-align: center;
  color: white;
  height: 37px;
  font-size: 15pt;
  padding: 4px 0px 0px 0px;
}
  
.saime-saludo + div{
  margin-left: 584;
  width: auto;
  background-color: #D3DAD3;
  margin-top: -243px;
  opacity: 0.99;
  text-align: center;
  color: #A6A4B2;
  height: 37px;
  font-size: 15pt;
  padding: 4px 25px 0px 25px;
}

.full-width{
  width: 100% !important;
}

.text-aside-input{
  margin: 10px 0px 0px 0px !important;
  font-size: 15pt;
  letter-spacing: 3px;
}


.p-success{
  font-size: 15pt;
}

.derecha{
  float: right;
}

.saime-ubicar-info{
  font-size: 13pt !important;
  line-height: 9px !important;
}

.reclamo-textarea{
  width: 100%;
  height: 150px;
}


textarea.reclamo-textarea{
  letter-spacing: 2px;
  font-size: 12pt;
  padding-left: 10px;
  margin-bottom: 15px;
}

.margen-reclamo-arriba{
  margin-top: 30px;
}

.saime-fecha-noticias{
  font-size: 14pt;
  color: #4C9ED9;
  letter-spacing: 2pt;
  margin-bottom: 5px; 
}

.saime-titulo-noticias{
  text-transform: uppercase;
  font-weight: 600;
  line-height: 22px;
  font-size: 16pt;
}

.saime-imagen-noticias{
  width: 100%;
  height: 420px;
  margin-top: 30px;

}

.saime-contenido-noticias{
  margin-top: 20px;
  font-size: 17pt;
  text-align: justify;
}


input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color: blue;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
  display:inline-block;
  width:15px;
  height:15px;
  margin:1px 0px 0px 0px ;
  vertical-align:middle;
  cursor:pointer;
  -moz-border-radius:  50%;
  border-radius:  50%;
  border: 2px solid gray;
    
  
}

input[type="radio"] + label span {
  background-color:white;
}

input[type="radio"]:checked + label span{
  background-color:yellow;
}

.saime-radio{
  border: 2px solid gray;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.saime-radio-label{
  margin: -24px 0px 8px -500px;
  font-size: 16px;
}

.saime-radio-label-md8{
  float: left;
  margin: -30px 0px -2px 30px;
  font-size: 17pt;
}

.saime-terminos-texto p{
  text-align: justify;
  font-size: 15pt;
}

.saime-texto-recordatorio{
  float: right;
  margin: -6px 7px 3px 0px;
  color: #808080;
}

.saime-texto-recordatorio-2{
  float: right;
  margin: -6px 3px 3px 0px;
  color: #808080;
}

.saime-radio-all{
  margin-bottom: 10px;
}

.saime-texto-general{
  text-align: justify;
  font-size: 15pt;
}

.botones-especial{
  padding-left: 20px;
}

.link{
  color:blue;
}

.saime-autenticacion-texto{
  margin-top: 15px;
  font-size: 13pt;
}

.saime-error-input{
  margin-top: -5px;
  margin-bottom: 6px;
  color: #F00;
}

.saime-btn-buscar-oficinas{
  margin-bottom: 10px;
  margin-top: -5px;
  margin-right: -10px;
}

.saime-btn-ver-oficinas{
  margin: -10px 0px 10px 0px;
}

.saime-icon{
  position: absolute;
  top: -12%;
  left: -2%;
}


.saime-label-checkboxes{
  position: relative;
  left: -8%;
  margin-top: 2%;
}