
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 col-center">
                    <h1 class="m-n font-thin h3">Solicitud de Pasaporte en Venezuela</h1>
                </div>
            </div>
        </div>
        
        <div class="wrapper-md" ng-controller="MainCtrl">
            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">
                    <div class="col-md-3">
                        <button ui-sref="saime.menu_solicitud" type="button" class="btn btn-saime-stand">
                            <span class="fa fa-chevron-left fa-lg"></span>
                        </button>
                    </div>
                    
                    <div class="col-md-6 col-center"  ng-if="!error"><br><br>
                        <p class="saime-texto-general">Las siguientes opciones le permitir&aacute;n realizar el llenado de datos correspondientes a la posterior solicitud de pasaporte. Usted podr&aacute; efectuar esta operaci&oacute;n en cualquier momento del d&iacute;a. Los datos quedar&aacute;n guardados en nuestro sistema para el momento en que usted desee realizar la solicitud de cita dentro del horario establecido</p><br>
                        <div class="botones-especial" align="center" >
                            <div align="center" class="btn-group-vertical saime-menu" role="group" aria-label="Vertical button group">
                                <button  ng-click="validar_cita_ven()" type="button" class="btn btn-default saime-btn-yellow">
                                    <h3>Registro de Datos Personales</h3>
                                </button>
                                <button ui-sref="saime.menu_solicitudes_menores_ven" type="button" class="btn btn-default saime-btn-blue">
                                    <h3>Registro de datos de Ni&ntilde;o, Ni&ntilde;a o Adolescente<h3>
                                </button>
                                <button ui-sref="saime.mis_solicitudes_ven" type="button" class="btn btn-default saime-btn-yellow">
                                    <h3>Mis Solicitudes de Citas<h3>
                                </button>
                            </div>
                        </div>
                        <br><br>
                        <br><br>
                    </div>
                    <div class="col-md-6" ng-if="error">
                        <div align="center" ng-bind-html="error_msg">{{error_msg}}</div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>