
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="m-n font-thin h3 text-black">Mis Solicitudes de Cita</h1>
                </div>
            </div>
        </div>
    
        <div class="wrapper-md" ng-controller="MisSolicitudesVenCtrl">
           
            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">
                    <div class="col-md-2">
                        <button ui-sref="saime.menu_solicitud_ven" type="button" class="btn btn-saime-stand">
                            <span class="fa fa-chevron-left fa-lg"></span>
                        </button>
                    </div>


                    <div class="col-md-8" ng-if="!error">
                        <div ng-repeat="misc in misc">
                            
                            <div class="row">
                                <div class="col-md-3 text-right" >
                                    <b >Nombre Completo: </b>
                                </div>

                                <div class="col-md-3">
                                      {{misc.nombre}} 
                                </div>

                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 text-right"><b>C&eacute;dula: </b></div>
                                <div class="col-md-3">
                                    <span ng-if="misc.cedula == ''">No Posee</span>{{misc.cedula}}    
                                </div>
                                <div class="col-md-2">
                                     
                                </div> 
                            </div>

                            <div class="row">
                                <div class="col-md-3 text-right"><b>Fecha de Nacimiento: </b></div>
                                <div class="col-md-3">{{misc.fechanacimiento}}</div>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 text-right"><b>Fecha Planilla: </b></div>
                                <div class="col-md-3">{{misc.fechaplanilla}} </div>
                                <div class="col-md-2">
                                    <a class="btn btn-saime-stand" ng-click="datos(misc.nombre, misc.cedula, misc.fechanacimiento)" ui-sref="saime.estado_cita_ven({idPlanillaPasaporte:misc.idplanillapasaporte})"><i class="fa fa-check-circle"></i>Ver Cita</a>
                                </div>

                                <div class="col-md-2">
                                    <a class="btn btn-danger btn-saime-rojo-stand " ng-click="datos(misc.nombre, misc.cedula, misc.fechanacimiento, misc.idplanillapasaporte)" ui-sref="saime.eliminar_cita_ven({idPlanillaPasaporte:misc.idplanillapasaporte})"><i class="fa fa-times-circle"></i>  Eliminar</a>
                                </div>
                            </div>

                        <hr>
                        </div>
                        <div align="center" ng-hide="misc.length">No ha realizado ninguna solicitud!</div>

                    </div>


                    <div class="col-md-8" ng-if="error">
                        <div align="center" ng-bind-html="error_msg">{{error_msg}}</div>
                    </div>
                    
                    <div class="col-md-1"></div>

                    
                </div>
            </div>
        </div>
    </div>
</div>