
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="m-n font-thin h3">Registro de Datos Personales</h1>
            </div>
          </div>
        </div>
        
        <div class="wrapper-md" ng-controller="FormRegistroDatosPersonalesVenCtrl">
            <form class="form-horizontal">
                <div style="display:block; {{step1}}">
                    <div class="row">
                        <div class="col-md-2">
                            <button ui-sref="saime.menu_solicitud_ven" type="button" class="btn btn-saime-stand">
                                <span class="fa fa-chevron-left fa-lg"></span>
                            </button>
                        </div>
                        

                        <div class="col-md-8">
                            <p><h3>Datos Personales</h3></p>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Primer nombre">        
                                    <input type="text" placeholder="Primer apellido">
                                    <input type="text" placeholder="Fecha de Nacimiento">
                                    <select type="text">
                                        <option>Sexo</option>
                                        <option>Masculino</option>
                                        <option>Femenino</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Segundo nombre">        
                                    <input type="text" placeholder="Segundo apellido">
                                    <p class="text-aside-input"> Ej: 27/10/2006</p>
                                </div>    
                            </div>
                            <br>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p><h3>Datos De Nacionalidad</h3></p>
                            <select type="text">
                                <option>Pais de Nacimiento</option>
                                <option>Venezuela</option>
                            </select>
                            <select type="text">
                                <option>Ciudad</option>
                                <option>San Juan</option>
                            </select>
                            <div class="row">
                                <div class="col-md-6">
                                    <select type="text">
                                        <option>Estado</option>
                                        <option>San Juan</option>
                                    </select>
                                    <select type="text">
                                        <option>Municipio</option>
                                        <option>San Juan</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <select type="text">
                                        <option>Parroquia</option>
                                        <option>San Juan</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br><br>
                    <div class="text-center">
                        <button ng-click="continuar1()" type="button" class="btn btn-saime-stand saime-btn-lg">Continuar</button>
                    </div>
                </div>

                <div style="display:none; {{step2}}">
                    <div class="row">
                        <div class="col-md-2">
                            <button ng-click="atras1()" type="button" class="btn btn-saime-stand">
                                <span class="fa fa-chevron-left fa-lg"></span>
                            </button>
                        </div>
                        

                        <div class="col-md-8">
                            <p><h3>Dirección Actual:</h3></p>
                            <hr>
                            <div class="row">
                                
                                <select>
                                    <option>Estdo</option>
                                </select>
                                <select>
                                    <option>Municipio</option>
                                </select>
                                <select>
                                    <option>Parroquia</option>
                                </select>
                                <input type="text" placeholder="Ciudad" >                                                        
                                <input type="text" placeholder="Urbanizacion" >
                                <input type="text" placeholder="Nro. Casa / Apto." >
                                <input type="text" placeholder="Av / Calle" >
                                <input type="text" placeholder="Codigo Postal" >

                                <div class="form-group">
                                    <div class="col-sm-3 saime-input">
                                        <input type="text"  placeholder="Codigo">
                                    </div>
                                    <div class="col-sm-9 saime-input">
                                        <input type="text" placeholder="Telefono Celular">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3 saime-input">
                                        <input type="text"  placeholder="Codigo">
                                    </div>
                                    <div class="col-sm-9     saime-input">
                                        <input type="text" placeholder="Telefono Residencial">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-3 saime-input">
                                        <input type="text"  placeholder="  Codigo">
                                    </div>
                                    <div class="col-sm-9     saime-input">
                                        <input type="text" placeholder="Telefono Trabajo">
                                    </div>
                                </div>

                                <input type="text" placeholder="Codigo de confirmacion que aparece arriba" >         
                                <br><br>
                                <div class="form-group">
                                    <div class="text-center">
                                        <button ng-click="continuar2()" type="button" class="btn btn-saime-stand saime-btn-lg">Continuar</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-md-2"></div>    
                    </div>



                </div>


                <div style="display:none; {{step3}}">
                    <div class="row">
                        <div class="col-md-2">
                            <button ng-click="atras2()" type="button" class="btn btn-saime-stand">
                                <span class="fa fa-chevron-left fa-lg"></span>
                            </button>
                        </div>
                        
                        <div class="col-md-8">
                            <p><h3>Oficinas a las cuales puede asistir:</h3></p>
                            <hr>
                            <div class="row">
                                
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <input type="radio">
                                    </div>
                                    <div class="col-sm-11">
                                        <p class="text-aside-input">Urabnizacion Los over</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <input type="radio">
                                    </div>
                                    <div class="col-sm-11">
                                        <p class="text-aside-input">Urabnizacion Los over</p>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="col-sm-1">
                                        <input type="radio">
                                    </div>
                                    <div class="col-sm-11">
                                        <p class="text-aside-input">Urabnizacion Los over</p>
                                    </div>
                                </div>     

                                <br><br>                                                
                                <div class="form-group">
                                    <div class="text-center">
                                        <button type="button" class="btn btn-saime-stand saime-btn-lg">Guardar Datos</button>
                                    </div>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                        <div class="col-md-2"></div>    
                    </div>

                </div>



            </form>
        </div>
    </div>
</div><br>


