
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">Solicitud de Pasaporte en Venezuela</h2>
              <h2 class="m-n font-thin  text-black">Ni&ntilde;o, Ni&ntilde;a o Adolescente</h2>
            </div>
          </div>
        </div>
        <div class="bg-light lter b-b wrapper-md saime-bg">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">Venezolanos por Nacimiento</h2>
              <h2 class="m-n font-thin  text-black">mayores de 9 a&ntilde;os cedulados</h2>
            </div>
          </div>
        </div>
        <div class="wrapper-md" ng-controller="FormRegistroMenorCCtrl">
            <modal searchmsg="" visible="showModal"></modal>
            <form name="formData" class="form-horizontal" novalidate>
                    <div ng-if="!error">
                
                        <div style="display:block; {{step1}}">        
                            <div class="row">
                                
                                <div class="col-md-2">
                                    <button ui-sref="saime.menu_solicitudes_menores_ven" type="button" class="btn btn-saime-stand">
                                        <span class="fa fa-chevron-left fa-lg"></span>
                                    </button>
                                </div>


                                <div  class="col-md-8">
                                    
                                    <div class="row"><br>
                                        <div class="col-xs-2"></div>

                                        <div class="col-xs-6 form-group_se" showo-errors>
                                            <input class="form-control" name="scedulavad" required  vld-cedula type="text" placeholder="N&uacute;mero de c&eacute;dula" ng-model="formSearch.cedula"  ng-keyup="$event.keyCode == 13 && buscar_menor_cedulado(formData)" />
                                            <p class="help-block" ng-if="formData.scedulavad.$error.required">Debe ingresar una c&eacute;dula</p>
                                        </div>

                                        <input type="hidden" ng-model="formData.minorId" ng-init="formSearch.letrame='V'">
                                        <input type="hidden" ng-model="formData.minorId">
                                        
                                        
                                        <div class="col-xs-2">
                                            <button ng-click="buscar_menor_cedulado(formData)" class="btn btn-saime-stand">Buscar</button>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-2"></div>
                                
                                
                            </div><br><br>
                            
                        </div>


                        <div style="display:none; {{step2}}">

                            
                            <div style="display:block; {{step3}}">

                                <div class="row">
                                    <div class="col-md-2">
                                        <button ng-click="atras1()" type="button" class="btn btn-saime-stand">
                                            <span class="fa fa-chevron-left fa-lg"></span>
                                        </button>
                                    </div>
                                    <div class="col-md-8">

                                        <p><h3>Datos Personales</h3></p><br>
                                        <div class="row">
                                            
                                            <div class="col-md-6">
                                                                                               
                                                <label>Primer Nombre</label>
                                                <input type="hidden" ng-model="formData.minorType" ng-init="formData.minorType='1'">
                                                <input vld-texto type="text" readOnly ng-model="formData.name1" />
                                            
                                                <label>Primer Apellido</label>
                                                <input vld-texto type="text" readOnly ng-model="formData.lastName1" />
                                            
                                                <label>Fecha de Nacimiento</label>
                                                <input ng-model="formData.bDate" readOnly type="text" />
                                                
                                            </div>

                                            <div class="col-md-6">
                                                <label >Segundo Nombre</label>
                                                <input vld-texto type="text" readOnly ng-model="formData.name2"/>

                                                <label >Segundo Apellido</label>
                                                <input vld-texto type="text" readOnly ng-model="formData.lastName2"/>
                                                
                                                <label >Sexo</label>
                                                <input vld-texto type="text" readOnly ng-model="formData.gender"/>
                                            </div>    
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>

                                <hr>

                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <p><h3>Datos de Nacionalidad</h3></p>

                                        <div class="row">

                                            <div class="col-sm-12 saime-input form-group_se" showo-errors >
                                                <label class="control-label">Pa&iacute;s de Nacimiento</label>

                                                <ui-select name="countryinivad" ng-required="true" ng-model="formData.countryIni"  style="width: 100%;">
                                                    <ui-select-match placeholder="Pa&iacute;s...">{{$select.selected.descripcion}}</ui-select-match>
                                                    <ui-select-choices repeat="pais.idpais as pais in paises | filter: $select.search" value="{{$select.selected.idpais}}">
                                                      <span ng-bind-html="pais.descripcion | highlight: $select.search"></span>
                                                      
                                                    </ui-select-choices>
                                                </ui-select>
                                                <p class="help-block" ng-if="formData.countryinivad.$error.required">Debe seleccionar el pa&iacute;s</p>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="row">

                                            <div class="col-md-12 saime-input form-group_se" showo-errors>
                                                <label class="control-label">Ciudad</label>
                                                <input class="form-control" name="cityvad" vld-texto ng-model="formData.city" type="text" name="ciudadv" required>
                                                <p class="help-block" ng-if="formData.cityvad.$error.required">El campo ciudad es obligatorio</p>
                                            </div>

                                        </div>
                                        
                                    </div>
                                    <div class="col-md-2"></div>
                                    
                                </div>

                                <hr>
                               
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                        <p><h3>Responsabilidad Legal</h3></p>
                                                       
                                        <div class="row">

                                            <div class="col-xs-2">                                      

                                                <ui-select ng-model="formSearch.letram" ng-disabled="disabled" style="width: 100%;" title="Letra">
                                                    <ui-select-match placeholder="Tipo...">{{$select.selected.letra}}</ui-select-match>
                                                    <ui-select-choices repeat="letra.id as letra in letras">
                                                      <span ng-bind-html="letra.letra"></span>
                                                    </ui-select-choices>
                                                </ui-select>

                                            </div>

                                            <div class="col-xs-10">

                                                <div class="input-group">

                                                    <input class="form-control" vld-cedula type="text" placeholder="N&uacute;mero de c&eacute;dula de la madre..." ng-model="formSearch.cedulam">
                                                    <input type="hidden" ng-model="formData.motherId">

                                                    <span class="input-group-btn" ng-show="!formData.motherId.length">
                                                        <button ng-click="buscar_madre()" class="btn btn-saime-stand">Buscar</button>
                                                    </span>

                                                    <span class="input-group-btn" ng-show="formData.motherId.length">
                                                        <a class="btn btn-danger btn-saime-rojo-stand " ng-click="limpiarm()">
                                                            <i class="fa fa-times-circle"></i>
                                                        </a>
                                                    </span>

                                                </div>
                                            </div>

                                        </div><br>
                                            
                                           
                                        <div class="row">

                                            <div class="col-xs-2">
                                                <ui-select ng-model="formSearch.letrap" ng-disabled="disabled" style="width: 100%;" title="Letra">
                                                    <ui-select-match placeholder="Tipo...">{{$select.selected.letra}}</ui-select-match>
                                                    <ui-select-choices repeat="letra.id as letra in letras">
                                                      <span ng-bind-html="letra.letra"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>

                                            <div class="col-xs-10">
                                                <div class="input-group">
                                                    <input class="form-control" vld-cedula type="text" placeholder="N&uacute;mero de c&eacute;dula del padre..." ng-model="formSearch.cedulap">
                                                    <input type="hidden" ng-model="formData.fatherId">

                                                    <span class="input-group-btn" ng-show="!formData.fatherId.length">
                                                        <button ng-click="buscar_padre()" class="btn btn-saime-stand">Buscar</button>
                                                    </span>

                                                    <span class="input-group-btn" ng-show="formData.fatherId.length">
                                                        <a class="btn btn-danger btn-saime-rojo-stand " ng-click="limpiarp()"><i class="fa fa-times-circle"></i></a>
                                                    </span>

                                                </div>
                                            </div>
                                            
                                        </div><br>


                                        <div class="row">

                                            <div class="col-xs-2">
                                                <ui-select  ng-model="formSearch.letral" ng-disabled="disabled" style="width: 100%;" title="Letra">
                                                    <ui-select-match placeholder="Tipo...">{{$select.selected.letra}}</ui-select-match>
                                                    <ui-select-choices repeat="letra.id as letra in letras">
                                                      <span ng-bind-html="letra.letra"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>

                                            <div class="col-xs-10">
                                                <div class="input-group">
                                                    <input class="form-control" vld-cedula type="text" placeholder="N&uacute;mero de c&eacute;dula representante legal..." ng-model="formSearch.cedulal" >
                                                    <input type="hidden" ng-model="formData.legalId">
                                                

                                                    <span class="input-group-btn" ng-show="!formData.legalId.length">
                                                        <button ng-click="buscar_legal()" class="btn btn-saime-stand">Buscar</button>
                                                    </span>

                                                    <span class="input-group-btn" ng-show="formData.legalId.length">
                                                        <a class="btn btn-danger btn-saime-rojo-stand " ng-click="limpiarl()"><i class="fa fa-times-circle"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                    </div>
                                    <div class="col-md-2"></div>
                                    
                                </div>

                                <div class="text-center">
                                    <div ng-show="showparenterror" class="text-muted">
                                        <h4 style="color:#8B0000;">Debe indicar al menos uno de los tres, Madre, Padre o Representante Legal</h4>
                                    </div><br><br>   
                                    
                                    <button ng-click="continuar2(formData)" type="button" class="btn btn-saime-stand saime-btn-lg">Continuar</button>
                                </div><br>

                            </div>

                            <!-- Parte 2 formulario -->
                            <div style="display:none; {{step4}}">

                                <div class="row">
                                    <div class="col-md-2">
                                        <button ng-click="atras2()" type="button" class="btn btn-saime-stand">
                                            <span class="fa fa-chevron-left fa-lg"></span>
                                        </button>
                                    </div>
                                    
                                    <div class="col-md-8">
                                        <p><h3>Direcci&oacute;n Actual</h3></p>
                                        
                                        <div class="row">

                                            <div class="col-sm-12 saime-input form-group_se" showo-errors >
                                                <label class="control-label">Estado</label>
                                                <ui-select name="cstatevad" ng-required="true" on-select="get_cmunicipios(); get_oficinas();" ng-model="formData.currentState" style="width: 100%;">
                                                    <ui-select-match placeholder="Estado...">{{$select.selected.descripcion}}</ui-select-match>
                                                    <ui-select-choices repeat="estado.identidadfederal as estado in estados | filter: $select.search">
                                                      <span ng-bind-html="estado.descripcion | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <p class="help-block" ng-if="formData.cstatevad.$error.required">Debe seleccionar el estado</p>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 saime-input form-group_se" showo-errors>
                                                <label class="control-label">Municipio</label>
                                                <ui-select name="cmunicipiovad" ng-required="true" on-select="get_cparroquias()" ng-model="formData.currentTown" style="width: 100%;">
                                                    <ui-select-match placeholder="Municipio...">{{$select.selected.descripcion}}</ui-select-match>
                                                    <ui-select-choices repeat="municipio.idmunicipio as municipio in cmunicipios | filter: $select.search">
                                                      <span ng-bind-html="municipio.descripcion | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <p class="help-block" ng-if="formData.cmunicipiovad.$error.required">Debe seleccionar el municipio</p>
                                            </div>
                                        </div>
                                            
                                        <div class="row">
                                            <div class="col-sm-12 saime-input form-group_se" showo-errors>
                                                <label class="control-label">Parroquia</label>
                                                <ui-select name="cparroquiavad" ng-required="true" ng-model="formData.currentParish" style="width: 100%;">
                                                    <ui-select-match placeholder="Parroquia...">{{$select.selected.descripcion}}</ui-select-match>
                                                    <ui-select-choices repeat="parroquia.idparrquia as parroquia in cparroquias | filter: $select.search">
                                                      <span ng-bind-html="parroquia.descripcion | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <p class="help-block" ng-if="formData.cparroquiavad.$error.required">Debe seleccionar la parroquia</p>
                                            </div>
                                        </div>
                                            

                                        <div class="row">
                                            <div class="col-sm-12 saime-input form-group_se" showo-errors>
                                                <label class="control-label">Ciudad</label>
                                                <input class="form-control" name="ccityvad" required vld-texto ng-model="formData.currentCity" type="text">
                                                <p class="help-block" ng-if="formData.ccityvad.$error.required">El campo ciudad es obligatorio</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 saime-input form-group_se" showo-errors>    
                                                <label class="control-label">Urbanizaci&oacute;n</label>                  
                                                <input class="form-control" name="urbanizacionvad" required ng-model="formData.urbanization" type="text">
                                                <p class="help-block" ng-if="formData.urbanizacionvad.$error.required">El campo urbanizaci&oacute;n es obligatorio</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 saime-input form-group_se" showo-errors>
                                                <label class="control-label">Nro. Casa / Apto.</label>
                                                <input class="form-control" name="noaptovad" required ng-model="formData.noApto" type="text">
                                                <p class="help-block" ng-if="formData.noaptovad.$error.required">El campo Nro. Casa / Apto. es obligatorio</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 saime-input form-group_se" showo-errors>
                                                <label class="control-label">Av. / Calle</label>
                                                <input class="form-control" name="streetvad" required ng-model="formData.street" type="text">
                                                <p class="help-block" ng-if="formData.streetvad.$error.required">El campo Av. / Calle es obligatorio</p>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-12 saime-input form-group_se" showo-errors>
                                                <label class="control-label">C&oacute;digo Postal</label>
                                                <input class="form-control" name="pcodevad" required vld-pcode ng-model="formData.pCode" type="text">
                                                <p class="help-block" ng-if="formData.pcodevad.$error.required">El campo c&oacute;digo postal es obligatorio</p>
                                            </div>
                                        </div>
                                        
                                            
                                        <div class="row">
                                            <div class="col-xs-3 saime-input">
                                                <ui-select ng-model="formNoData.phone_code_cell" ng-disabled="disabled" style="width: 100%;">
                                                    <ui-select-match placeholder="C&oacute;digo...">{{$select.selected.numero}}</ui-select-match>
                                                    <ui-select-choices repeat="codigo.numero as codigo in codigosc">
                                                      <span ng-bind-html="codigo.numero"></span>
                                                    </ui-select-choices>
                                                </ui-select>

                                            </div>
                                            <div class="col-xs-9 saime-input">
                                                <input vld-telefono ng-model="formNoData.cellPhone" type="text" placeholder="Tel&eacute;fono Celular">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 saime-input">
                                                <ui-select ng-model="formNoData.phone_code_home" ng-disabled="disabled" style="width: 100%;">
                                                    <ui-select-match placeholder="C&oacute;digo...">{{$select.selected.numero}}</ui-select-match>
                                                    <ui-select-choices repeat="codigo.numero as codigo in codigos">
                                                      <span ng-bind-html="codigo.numero"></span>
                                                    </ui-select-choices>
                                                </ui-select>

                                            </div>
                                            <div class="col-xs-9 saime-input">
                                                <input vld-telefono ng-model="formNoData.homePhone" type="text" placeholder="Tel&eacute;fono Residencial">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3 saime-input">
                                                <ui-select ng-model="formNoData.phone_code_work" ng-disabled="disabled" style="width: 100%;">
                                                    <ui-select-match placeholder="C&oacute;digo...">{{$select.selected.numero}}</ui-select-match>
                                                    <ui-select-choices repeat="codigo.numero as codigo in codigos">
                                                      <span ng-bind-html="codigo.numero"></span>
                                                    </ui-select-choices>
                                                </ui-select>

                                            </div>
                                            <div class="col-xs-9 saime-input">
                                                <input vld-telefono ng-model="formNoData.workPhone" type="text" placeholder="Tel&eacute;fono Trabajo">
                                            </div>
                                        </div><br>

                                            
                                        <p ng-show="showphoneterror" class="saime-texto-recordatorio">
                                            <i style="color:#8B0000;">(Debe ingresar al menos un tel&eacute;fono)</i>
                                        </p>
                                            
                                    </div>
                                    <div class="col-md-2"></div>

                                </div>

                                <div class="text-center">
                                    <br><br>
                                    <button ng-click="continuar3(formData)" type="button" class="btn btn-saime-stand saime-btn-lg">Continuar</button>
                                </div>

                                

                            </div>

                            <div style="display:none; {{step5}}">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button ng-click="atras3()" type="button" class="btn btn-saime-stand">
                                            <span class="fa fa-chevron-left fa-lg"></span>
                                        </button>
                                    </div>
                                    
                                    <div class="col-md-8">
                                        <p><h3>Oficinas a las cuales puedes asistir: </h3></p><br>

                                        <div class="row">
                                            <div ng-repeat="oficina in oficinas"  class="form-group">
                                                <div class="col-md-1">
                                                    <input type="checkbox" checklist-model="formData.offices" checklist-value="oficina.idoficina">
                                                </div>
                                                <div class="col-md-6 ">
                                                    <label class="saime-label-checkboxes">{{oficina.nombreoficina}}, ({{oficina.cola}}) en cola</label>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <br>
                                        <br>
                                        <br>
                                        <p>
                                            <i>
                                                Las oficinas que aparecen marcadas son las posibles oficinas d&oacute;nde se les 
                                                asignar&aacute; la cita, si usted desea que el sistema no le asigne a una de estas oficinas
                                                favor de descartarla. <b>Nota:</b> mientras m&aacute;s oficinas seleccione, su cita podr&aacute; ser
                                                asignada con mayor rapidez, dependiendo de la saturaci&oacute;n de las mismas.
                                            </i>
                                        </p>
                                        <br>
                                        <br>
                                            
                                        <div align="center" class="saime-menu" role="group" aria-label="Vertical button group">
                                            <button ng-click="guardar(formData)" type="button" class="btn btn-saime-stand saime-btn-lg">Guardar datos</button>
                                        </div>

                                        <br>
                                    </div>
                                    <div class="col-md-2"></div>    
                                </div>

                            </div>
                                <!-- Fin Parte 2 formulario -->
                        </div>
                    </div>


                    <div ng-if="error">
                            
                        <div class="row">
                            <div class="col-md-2">
                                <button ng-click="atras_e()" type="button" class="btn btn-saime-stand">
                                    <span class="fa fa-chevron-left fa-lg"></span>
                                </button>
                            </div>

                            <div class="col-md-8"><br>
                                <div align="center" ng-bind-html="error_msg">{{error_msg}}</div><br>

                            </div>
                            
                            <div class="col-md-2"></div>
                        </div>
                    </div>


            </form>

        </div>
    </div>
</div>
