
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 col-center">
                    <h1 class="m-n font-thin h3">Solicitud de Pasaporte en el Extranjero</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md" ng-controller="MainCtrl">
            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">
                    <div class="col-md-3">
                        <button ui-sref="saime.menu_solicitud" type="button" class="btn btn-saime-stand">
                            <span class="fa fa-chevron-left fa-lg"></span>
                        </button>
                    </div>


                    <div class="col-md-6 col-center" ng-if="!error"><br><br>

                        <p class="saime-texto-general">Las siguientes opciones le permitir&aacute;n realizar solicitudes de pasaporte en el extranjero a mayores y menores de edad. Con la solicitud podr&aacute; obtener cita para la correspondiente tramitaci&oacute;n en la Sede Consular seleccionada por usted.</p><br>
                        <div class="botones-especial" align="center">
                            <div align="center" class="btn-group-vertical saime-menu" role="group" aria-label="Vertical button group">
                                
                                <button ng-click="validar_cita_ext()" type="button" class="btn btn-default saime-btn-yellow">
                                    <h3>Registro de Datos Personales</h3>
                                </button>
                                
                                <button ui-sref="saime.menu_solicitudes_menores_ext" type="button" class="btn btn-default saime-btn-blue">
                                    <h3>Registro de datos de ni&ntilde;o, ni&ntilde;a o adolescente</h3>
                                </button>
                                <button ui-sref="saime.mis_solicitudes_ext" type="button" class="btn btn-default saime-btn-yellow">
                                    <h3>Mis Solicitudes de Citas<h3>
                                </button>
                            </div>
                        </div>
                        
                        <br><br>
                    </div>
                    <div class="col-md-6" ng-if="error">
                        <div align="center" ng-bind-html="error_msg">{{error_msg}}</div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>