
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 col-center">
                    <h1 class="m-n font-thin h3">Registro de Datos de Nino, Nina o Adolescente</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md" ng-controller="MainCtrl">
            <modal error="" visible="showModal"></modal>
            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">

                    <div class="col-md-3">
                        <button ui-sref="saime.menu_solicitud_ext" type="button" class="btn btn-saime-stand">
                            <span class="fa fa-chevron-left fa-lg"></span>
                        </button>

                    </div>
                     <div class="col-md-6 col-center">
                        <p class="left-tittle">Tipo de Menor</p><br><br>
                        <div class="btn-group-vertical saime-menu" role="group" aria-label="Vertical button group">
                            <button ui-sref="saime.registro_menor_c_ext" type="button" class="btn btn-default saime-btn-yellow">
                                <h2>Venezolanos por Nacimiento </h2>
                                <h4>Mayores de 9 a&ntilde;os cedulados</h4>
                            </button>
                            <button ui-sref="saime.registro_menor_nc_ext" type="button" class="btn btn-default saime-btn-blue">
                                <h2>Venezolanos por Nacimiento </h2>
                                <h4>Menores de 9 a&ntilde;os no cedulados</h4>
                            </button>
                            <button ui-sref="saime.registro_menor_nat_c_ext" type="button" class="btn btn-default saime-btn-yellow">
                                <h2>Venezolanos por Naturalizaci&oacute;n </h2>
                                <h4>Mayores de 9 a&ntilde;os cedulados</h4>
                            </button>
                            <button ui-sref="saime.registro_menor_nat_nc_ext" type="button" class="btn btn-default saime-btn-blue">
                                <h2>Venezolanos por Naturalizaci&oacute;n </h2>
                                <h4>Menores de 9 a&ntilde;os no cedulados</h4>
                            </button> 
                        </div>

                        <br><br>
                    </div>
                    <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>