
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="m-n font-thin h3">Registro de Datos Personales</h1>
            </div>
          </div>
        </div>
        
        <div class="wrapper-md" ng-controller="FormRegistroDatosPersonalesExtCtrl">
            <form name="formData" class="form-horizontal">
                <div style="display:block; {{step1}}">
                    <div class="row">
                        <div class="col-md-2">
                            <button ui-sref="saime.menu_solicitud_ext" type="button" class="btn btn-saime-stand">
                                <span class="fa fa-chevron-left fa-lg"></span>
                            </button>
                        </div>
                        
                         

                        <div class="col-md-8">
                            <p><h3>Datos Personales</h3></p>
                            <div class="row">
                                <div class="col-md-6">
                                    <input vld-texto ng-model="formNoData.name1" readOnly type="text" placeholder="Primer nombre">        
                                    <input vld-texto ng-model="formNoData.lastName1" readOnly type="text" placeholder="Primer apellido">

                                    <input placeholder="Fecha de Nacimiento" ng-model="formNoData.bDate" type="text" readOnly/>

                                    
                                </div>
                                <div class="col-md-6">
                                    <input vld-texto ng-model="formNoData.name2" readOnly type="text" placeholder="Segundo nombre">        
                                    <input vld-texto ng-model="formNoData.lastName2" readOnly type="text" placeholder="Segundo apellido">
                                </div>    
                            </div>
                            <br>
                        </div>
                        
                        <div class="col-md-2"></div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p><h3>Datos De Nacionalidad</h3></p>
                            <hr>

                                <ui-select required="true"  ng-model="formData.country" ng-disabled="disabled" style="width: 100%;" title="Seleccione el Pais">
                                    <ui-select-match placeholder="Seleccione o busque un PAIS en la lista...">{{$select.selected.descripcion}}</ui-select-match>
                                    <ui-select-choices repeat="pais.idpais as pais in paises | filter: $select.search" value="{{$select.selected.idpais}}">
                                      <span ng-bind-html="pais.descripcion | highlight: $select.search"></span>
                                      
                                    </ui-select-choices>
                                </ui-select><br>

                                <input vld-texto ng-model="formData.city" type="text" placeholder="Ciudad" >
                                <input vld-texto ng-model="formData.currentCity" type="text" placeholder="Ciudad actual" >
                                <input vld-pcode ng-model="formData.pCode" type="text" placeholder="Codigo Postal" >

                                <ui-select on-select="get_consulados()" required="true"  ng-model="formData.countrySede" ng-disabled="disabled" style="width: 100%;" title="Seleccione el Pais">
                                    <ui-select-match placeholder="Seleccione o busque un PAIS sede...">{{$select.selected.descripcion}}</ui-select-match>
                                    <ui-select-choices repeat="pais.idpais as pais in paises | filter: $select.search" value="{{$select.selected.idpais}}">
                                      <span ng-bind-html="pais.descripcion | highlight: $select.search"></span>
                                      
                                    </ui-select-choices>
                                </ui-select>

                           
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <br><br>
                    <div class="text-center">

                        <br>
                            <div align="center" class="saime-error-input">
                                {{error2}}
                            </div>
                        <br> 
                        <button ng-click="continuar1(formData)" type="button" class="btn btn-saime-stand saime-btn-lg">Continuar</button>
                    </div>
                </div>

                <div style="display:none; {{step2}}">
                    <div class="row">
                        <div class="col-md-2">
                            <button ng-click="atras1()" type="button" class="btn btn-saime-stand">
                                <span class="fa fa-chevron-left fa-lg"></span>
                            </button>
                        </div>
                        

                        <div class="col-md-8">
                            <p><h3>Consulados:</h3></p>
                            <hr>
                            <div class="row">

                                <div ng-repeat="consulado in consulados" class="saime-radio-all">
                                    <div class="saime-radio">
                                        <input ng-model="formData.sedeConsular" type="radio" id="{{consulado.idsedeconsular}}" value="{{consulado.idsedeconsular}}" />
                                        <label for="{{consulado.idsedeconsular}}">
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="saime-radio-label-md8">{{consulado.sedeconsular}}</div>
                                </div>

                                <br>
                                <br>
                                <p>
                                    <i>
                                        Las oficinas que aparecen marcadas son las posibles oficinas d&oacute;nde se les 
                                        asignar&aacute; la cita, si usted desea que el sistema no le asigne a una de estas oficinas
                                        favor de descartarla. <b>Nota:</b> mientras m&aacute;s oficinas seleccione, su cita podr&aacute; ser
                                        asignada con mayor rapidez, dependiendo de la saturaci&oacute;n de las mismas.
                                    </i>
                                </p>
                                <br>
                                <br>
                                    <div align="center" class="saime-error-input">
                                        {{error2}}
                                    </div>
                                <br> 

                               


                                <!--
                                <input type="text" placeholder="Codigo de confirmacion que aparece arriba" >
                                <p class="saime-texto-recordatorio-2"><i>(No se hace distincion entre mayusculas y minusculas)</i></p>
                                -->         
                                <br>
                                <div class="form-group">
                                    <div class="text-center">
                                        <button ng-click="guardar(formData)" type="button" class="btn btn-saime-stand saime-btn-lg">Guardar</button>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-md-2"></div>    
                    </div>
                </div>

            </form>
        </div>
    </div>
</div><br>


