
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">Autenticaci&oacute;n de Usuario</h2>
            </div>
          </div>
        </div>
        <div class="wrapper-md" ng-controller="SignInCtrl">

            <button ui-sref="saime.login" type="button" class="btn btn-saime-stand">
                <span class="fa fa-chevron-left fa-lg"></span>
            </button>

            <div class="row">
                <div class="col-md-3"></div>


                
                <div class="col-md-6" ng-if="!error"><br>
                
                    <form name="formData" class="form-horizontal" novalidate>
                        <div class="form-group" show-errors>
                            <input class="form-control" required type="text" placeholder="Usuario" ng-model="formData.username" name="usernamev" focus="true">                            
                        </div>
                        <div class="form-group">
                            <input class="form-control" required type="password" placeholder="Contraseña" ng-model="formData.password" name="passwordv">     
                        </div>
                        <br>

                        <div class="text-center">

                            <button ng-click="login(formData)" type="button" class="btn btn-saime-stand saime-btn-lg"> Ingresar</button>
                            <p class="saime-autenticacion-texto">
                                Estimado(a) usuario(a), si usted no posee cuenta SAIME, debe registrarse para poder acceder 
                                 a los servicios que les brindamos. Si ya usted tiene usuario y olvid&oacute; su contrase&ntilde;a, puede recibirla via email.
                            </p>
                        </div> 
                    </form>
                    
                    <br><br>
                    <div class="text-center link">
                        <a ui-sref="saime.registro" class="link">Registrarse en el SAIME</a>
                    </div>
                    <br>
                    <div class="text-center link">
                        <a ui-sref="saime.olvido_contrasena" class="link">¿Olvid&oacute; Su Contraseña?</a>
                    </div>
                    <br>
                </div>

                <div class="col-md-6" ng-if="error">
                    <div align="center" ng-bind-html="error_msg">{{error_msg}}</div>
                </div>


                <div class="col-md-3"></div> 
                  
            </div>
        </div>
    </div>
</div>