
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">Autenticacion de Usuario</h2>
            </div>
          </div>
        </div>
        <div class="wrapper-md" ng-controller="SignInCtrl">

            <button ui-sref="saime.login" type="button" class="btn btn-saime-stand">
                <span class="fa fa-chevron-left fa-lg"></span>
            </button>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form name="formData" class="form-horizontal">
                        <div class="form-group">
                            <input type="text" placeholder="Usuario" ng-model="formData.username">                            
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Contraseña" ng-model="formData.password">     
                        </div>
                        <div class="saime-error-input">
                            {{authError}}
                        </div><br>
                        <div class="text-center">
                            <button ng-click="login(formData)" type="button" class="btn btn-saime-stand saime-btn-lg"> Ingresar</button>
                            <p class="saime-autenticacion-texto">
                                Estimado(a) usuario(a), si usted no posee usuario SAIME debe registrarse para poder acceder 
                                 a los srvicios que les brindamos. O si ya usted tiene usuario y se le olvido su contrase&ntilde;a puedes recibirla via email
                            </p>
                        </div> 
                    </form>
                    
                    <br><br>
                    <div class="text-center link">
                        <a ui-sref="saime.registro" class="link">Registrarse en el SAIME</a>
                    </div>
                    <br>
                    <div class="text-center link">
                        <a ui-sref="saime.olvido_contrasena" class="link">¿Olvido Su Contraseña?</a>
                    </div>
                    <br>
                </div>
                <div class="col-md-3"></div> 
                  
            </div>
        </div>
    </div>
</div>