  <!-- 
  <div class="app-header navbar">
      
      <div class="collapse navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
      
        <div class="nav navbar-nav m-l-sm hidden-xs">
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href class="dropdown-toggle clear" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="img/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm hidden-md">Juan Alberto Zambrano</span> <b class="caret"></b>
            </a>
      
            <ul class="dropdown-menu animated fadeInRight w">
              <li>
                <a href="#">Cambiar Contrasena</a>
              </li>
              <li>
                <a href="#">
                  Ayuda
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ui-sref="saime.login">Salir</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </div> -->
   <!-- HEADER CON ROW
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
        </div>
        <div class="col-md-2"></div>
    </div>

    <img src="img/headers.png" alt="" class="header-saime ">
    <div class="usuario-saime">  
        <img src="img/a0.jpg" alt="" class="img-saime">
        <div class="saime-saludo"> !HOLA¡ </div>
        <div class="col-md-5">Roberto Arcangel Barrios Salazar</div>
    </div>  
-->

  <!-- content -->
    <div class="app-content">
        <div ui-butterbar></div>
        <a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside" ></a>
        <div class="app-content-body fade-in-up" ui-view></div>
    </div>
  <!-- /content -->


  <!-- footer -->
    <div class="app-footer wrapper b-t bg-light" align="center">
        <span class="pull-right">
            <a href ui-scroll="app" class="m-l-sm text-muted">
                <i class="fa fa-long-arrow-up"></i>
            </a>
        </span>
        Desarrollado por la Direccion de Informatica del SAIME
        <br>
        &copy; 2015 Todos los Derechos Reservados
    </div>
  <!-- / footer -->