
    <div> 
      <div id="header_status" style="display: none;">
        <img src="img/header.png" alt="" class="header-saime ">
        <div id="fb_profile" style="display: none;"  class="usuario-saime">
            <!--  
            <img ng-src="{{profile_pic}}" alt="prof_pic" class="img-saime">
            <div class="saime-saludo"> !HOLA¡ </div>
            <div  class="col-md-5">{{bienvenido}}</div>
            -->
        </div>
      </div>
    </div>


  <!-- content -->
    <div class="app-content">
        <div ui-butterbar></div>
        <div class="app-content-body fade-in-up" ui-view></div>
    </div>
  <!-- /content -->
  <br><br>

  <!-- footer -->
    <div ng-controller="LikeFBCtrl" class="app-footer wrapper b-t bg-light" align="center">

      <div class="row">
        <br>
        <div class="col-xs-3 pull-left">
          
          
          <button style='border:none; background-color: #3B5998; ' class="btn btn-warning btn-xs" ng-click="fb_share()"><span class="{{icon}}"></span> {{msg}}</button><br>
          <button style='border:none; background-color: #3B5998;' class="btn btn-warning btn-xs" ng-click="fb_invitable_friends()"><span class="fa fa-facebook-square"></span>  Invitar a tus amigos  </button>
          
        </div>
        <div class="col-xs-6">
          
        
          Desarrollado por la Direcci&oacute;n de Inform&aacute;tica del SAIME
          <br>
          &copy; 2015 Todos los Derechos Reservados


        </div>
        <div class="col-xs-3">
          <span class="fa fa-twitter fa-lg"></span>
            <a href="http://twitter.com/PrensaSaime" class="twitter-button">@PrensaSaime</a><br>
          
          <span class="fa fa-twitter fa-lg"></span>
            <a href="http://twitter.com/RedsocialSAIME" class="twitter-button">@RedsocialSAIME</a><br>


        </div>
        

      </div>
        

        
    </div>
  <!-- / footer -->