
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Solicitud de Pasaporte en Venezuela - Nino, nina o adolescente</h1>
          <small class="text-muted">Venezolanos por nacimiento, menores de 9 anios y cedulados</small>
        </div>
      </div>
    </div>
    
    <div class="wrapper-md" ng-controller="FormDemoCtrl">


      <div class="panel hbox hbox-auto-xs no-border">

        <p>Datos Personales</p>

        <input type="text" placeholder="Primer nombre">
        <input type="text" placeholder="Segundo nombre">
        <br>
        
        <input type="text" placeholder="Primer apellido">
        <input type="text" placeholder="Segundo apellido">
        <br>

        <input type="text" placeholder="Fecha de Nacimiento">

        <hr>
        <p>Datos de Nacionalidad</p>
        <label>Pais:</label>
        <select type="text" placeholder="Pais de nacimiento">
          <option></option>
          <option>Venezuela</option>
        </select>

        <br>

        <label>Ciudad:</label>
        <select type="text" placeholder="Pais de nacimiento">
          <option></option>
          <option>San Juan</option>
        </select>

        <hr>
        <p>Responsabilidad legal</p>
        <input type="text" placeholder="Madre"><br>
        <input type="text" placeholder="Padre"><br>
        <input type="text" placeholder="Representante legal">

        <br>
        <small class="text-muted">Debe indicar al menos uno de los tres</small>

        <br><br>
        <button ui-sref="saime.solicitud" type="button" class="btn btn-default">Continuar</button>
  
      </div>
      

    </div>
  </div>
</div>