
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">Solicitud de Pasaporte en Venezuela - </h2>
              <h2 class="m-n font-thin  text-black">Nino, nina o adolescente</h2>
            </div>
          </div>
        </div>
        <div class="bg-light lter b-b wrapper-md saime-bg">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">Venezolanos por nacimiento - </h2>
              <h2 class="m-n font-thin  text-black">menores de 9 anios y cedulados</h2>
            </div>
          </div>
        </div>
        
        <div class="wrapper-md" ng-controller="FormMenorVenNcCtrl">
            <form action="" class="form-horizontal">
                <div style="display:block; {{step1}}">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p><h3>Datos Personales</h3></p>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" placeholder="Primer nombre" ng-model="formData.name1">        
                                    <input type="text" placeholder="Primer apellido" ng-model="formData.lastName1">
                                    <input type="text" placeholder="Fecha de Nacimiento" ng-model="formData.bDate">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" placeholder="Segundo nombre" ng-model="formData.name2">        
                                    <input type="text" placeholder="Segundo apellido" ng-model="formData.lastName2">
                                </div>    
                            </div>
                            <br>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p><h3>Datos De Nacionalidad</h3></p>
                            <select ng-model="formData.countryIni" placeholder="Pais de Nacimiento">
                                <option></option>
                                <option value="VEN">Venezuela</option>
                                <option value="COL">Colombia</option>
                            </select>
                            <br>
                            <select ng-model="formData.state" placeholder="Estado de Nacimiento">
                                <option value="1">Aragua</option>
                                <option value="2">Guarico</option>
                            </select>
                            <br>
                            <select ng-model="formData.city" placeholder="Ciudad">
                                <option value="Maracay">Maracay</option>
                                <option value="San Juan de los Morros">San Juan de los Morros</option>
                            </select>
                            <br>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <hr>
                   
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <p><h3>Responsabilidad Legal</h3></p>
                            <div class="row">
                                
                                    
                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label-2">Madre:</label>
                                        <div class="col-sm-2">
                                            <input ng-model="formSearch" type="text" class="" placeholder="V">
                                        </div>

                                        <div class="col-sm-6">
                                            <input ng-model="formSearch" type="text" placeholder="Numero de Cedula">
                                            <input ng-model="formData.motherId" type="hidden">
                                        </div>
                                        
                                        <div class="col-sm-2">
                                            <button class="btn btn-saime-stand findbtn">Buscar</button>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label-2">Padre:</label>
                                        <div class="col-sm-2">
                                            <input ng-model="formSearch" type="text" class="" placeholder="V">
                                        </div>
                                        <div class="col-sm-6">
                                            <input ng-model="formSearch" type="text" placeholder="Numero de Cedula">
                                            <input ng-model="formData.fatherId" type="hidden">
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-saime-stand findbtn">Buscar</button>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label  class="col-sm-2 control-label-2 m-top-19">Representante Legal:</label>
                                        <div class="col-sm-2">
                                            <input ng-model="formSearch" type="text" class="" placeholder="V">
                                        </div>

                                        <div class="col-sm-6">
                                            <input ng-model="formSearch" type="text" placeholder="Numero de Cedula">
                                            <input ng-model="formData.legalId" type="hidden">
                                        </div>

                                        <div class="col-sm-2">
                                            <button class="btn btn-saime-stand findbtn">Buscar</button>
                                        </div>

                                    </div>
                                
                            </div>
                            <br>
                        </div>
                        <div class="col-md-2"></div>
                        
                    </div>

                    <div class="text-center">
                        <div class="text-muted">
                            <h4>Debe indicar al menos uno de los tres, Madre, Padre o Representante Legal</h4>
                        </div>
                        
                        <button ng-click="continuar()" type="button" class="btn btn-saime-stand saime-btn-lg">Continuar</button>
                    </div>

                </div>

                <!-- Parte 2 formulario -->
                <div class="row" style="display:none; {{step2}}">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p><h3>Dirección Actual</h3></p>
                        <div class="row">

                            <br>
                            <select ng-model="formData.currentState" placeholder="Estado">
                                <option value="1">Aragua</option>
                                <option value="2">Guarico</option>
                            </select>
                            <br>
                            <select ng-model="formData.currentCity" placeholder="Ciudad">
                                <option value="Maracay">Maracay</option>
                                <option value="San Juan de los Morros">San Juan de los Morros</option>
                            </select>

                            <select ng-model="formData.currentParish" placeholder="Parroquia">
                                <option value="1">Ju</option>
                                <option value="2">San Juan de los Morros</option>
                            </select>
                            
                            
                            <input ng-model="formData.urbanization" type="text" placeholder="Urbanizacion">
                            <input ng-model="formData.noApto" type="text" placeholder="Nro Casa / Apto">        
                            <input ng-model="formData.street" type="text" placeholder="Av / Calle ">
                            <input ng-model="formData.pCode" type="text" placeholder="Codigo Postal">
                            
                            <input ng-model="formData.cellPhone" type="text" placeholder="Telefono Celular">
                            <input ng-model="formData.homePhone" type="text" placeholder="Telefono Residencial">
                            <input ng-model="formData.workPhone" type="text" placeholder="Telefono Trabajo">
                            <!-- 
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 saime-input">
                                        <input ng-model="formData.pCode" type="text" placeholder="Código">
                                    </div>
                                    <div class="col-sm-9 saime-input">
                                        <input type="text" placeholder="Telefono Celular">
                                    </div>
                                </div>
                            </div> 
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 saime-input">
                                        <input type="text"  placeholder="Código">
                                    </div>
                                    <div class="col-sm-9 saime-input">
                                        <input type="text" placeholder="Telefono Residencial">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3 saime-input">
                                        <input type="text"  placeholder="Código">
                                    </div>
                                    <div class="col-sm-9 saime-input">
                                        <input type="text" placeholder="Telefono Trabajo">
                                    </div>
                                </div>
                            </div>

                        -->

                        </div>
                        <div class="text-center">
                            <h3>CODIGO DE CONFIRMACION QUE APARECE ARRIBA</h3>
                            <button ng-click="registrar()" type="button" class="btn btn-saime-stand saime-btn-send">Guardar Datos</button>
                        </div>
                         <br>   
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <!-- Fin Parte 2 formulario -->


                
          
            </form>

        </div>
    </div>
</div><br><br><br>


