
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Solicitud de Pasaporte en Venezuela - Nino, nina o adolescente</h1>
          <small class="text-muted">Venezolanos por nacimiento, mayores de 9 anios y cedulados</small>
        </div>
      </div>
    </div>
    
    <div class="wrapper-md" ng-controller="FlotChartDemoCtrl">

      <div class="panel hbox hbox-auto-xs no-border">

        <input type="text" placeholder="numero de cedula del menor">
        <button ui-sref="saime.solicitud" type="button" class="btn btn-default">Buscar</button>
  
      </div>

    </div>
  </div>
</div>