
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Estado Tramite del Pasaporte</h1>
                </div>
            </div>
        </div>
    
        <div class="wrapper-md" ng-controller="EstadoTramiteCtrl">

            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">
                    <div class="col-md-3"></div>


                    <div ng-if="estado == 'sin_solicitud'" class="col-md-6">{{mensaje}}</div>
                    


                    <div ng-if="estado == 'en_proceso'" class="col-md-6">
                        <ul>
                            <li>
                                <div class="tramite-circulo">a</div>
                                <div class="tramite-nombre">Enviar Pronto</div>
                            </li>
                            
                            <div class="tramite-list"></div>
                            <li>
                                <div class="tramite-circulo">a</div>
                                <div class="tramite-nombre">Enviado</div>
                            </li>

                            <div class="tramite-list"></div>
                            <li>
                                <div class="tramite-circulo">a</div>
                                <div class="tramite-nombre">En transito</div>
                            </li>

                            <div class="tramite-list"></div>
                            <li>
                                <div class="tramite-circulo">a</div>
                                <div class="tramite-nombre">Listo Para Entrega</div>
                            </li>

                            <div class="tramite-list">a</div>
                            <li>
                                <div class="tramite-circulo">a</div>
                                <div class="tramite-nombre">Entregado</div>
                            </li>

                        </ul>
                    </div>



                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>