
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div ng-controller="MainCtrl" class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="m-n font-thin h3 text-black">{{bsaludo}}</h1>
                </div>
            </div>
        </div>
    
        <div class="wrapper-md" >

            <div class="panel hbox hbox-auto-xs no-border">
                
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-center">
                        <div align="center" class="btn-group-vertical saime-menu" role="group" aria-label="Vertical button group">
                            <button ui-sref="saime.menu_solicitud" type="button" class="btn btn-default  saime-btn-menu">Solicitud de Pasaporte
                                <div class="triangulo-b"></div>
                                <img src="img/icons/solicitud.png" alt="" class="saime-icon">
                            </button>

                            <button ui-sref="saime.lista_tramites" type="button" class="btn btn-default saime-btn-menu">Estado de Tr&aacute;mites
                                <div class="triangulo-y"></div>
                                <img src="img/icons/tramite.png" alt="" class="saime-icon">
                            </button>   

                            <!--
                            <button ui-sref="saime.pasaporte_domicilio" type="button" class="btn btn-default saime-btn-menu">Solicite su pasaporte a domicilio
                                <div class="triangulo-b"></div><img src="img/icons/domicilio.png" alt="" class="saime-icon">
                            </button>  
                            -->

                            <button ui-sref="saime.oficinas" type="button" class="btn btn-default saime-btn-menu">Ubique su oficina SAIME
                                <div class="triangulo-b"></div>
                                <img src="img/icons/ubique.png" alt="" class="saime-icon">
                            </button>

                            <!--
                            <button ui-sref="saime.reclamos" type="button" class="btn btn-default saime-btn-menu">Gestione su Reclamo
                                <div class="triangulo-b"></div><img src="img/icons/reclamo.png" alt="" class="saime-icon">
                            </button>
                            -->

                            <button ui-sref="saime.noticias" type="button" class="btn btn-default saime-btn-menu">Noticias
                                <div class="triangulo-y"></div>
                                <img src="img/icons/noticia.png" alt="" class="saime-icon">
                            </button>

                            <button ui-sref="saime.otros_tramites" type="button" class="btn btn-default saime-btn-menu">Otros Tr&aacute;mites
                                <div class="triangulo-b"></div>
                                <img src="img/icons/tramite.png" alt="" class="saime-icon">
                            </button>


                            <button ng-click="logout()" type="button" class="btn btn-default saime-btn-menu">Cerrar Sesi&oacute;n
                                <div class="triangulo-y"></div>
                                <img src="img/icons/cerrar.png" alt="" class="saime-icon">
                            </button>
                            
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                        
  
            </div>

        </div>
    </div>
</div>