<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="m-n font-thin h3 text-black">SAIME al alcance de sus manos</h1>
                </div>
            </div>
        </div>
    
        <div class="wrapper-md" ng-controller="LikeFBCtrl">

            <div class="panel hbox hbox-auto-xs no-border">
                
                <div class="row">
                    <br><br>
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-center" ng-click="like()">
                    <h4>Hola! Debes darle "Me gusta" a nuestra p&aacute;gina para entrar al nuevo servicio de pasaporte en Facebook</h4><br>

                    <div <div class="fb_like">
                        <fb-likebox fbid="ctrl.facebook_page_id" ></fb-likebox>
                    </div><br><br>
                        
                    </div>
                    <div class="col-md-3"></div>
                </div>
                        
  
            </div>

        </div>
    </div>
</div>