<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController">
  <a href class="navbar-brand block m-t">SAIME - Autenticacion de Usuario</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <strong>Autenticacion de Usuario</strong>
    </div>
    <form name="form" class="form-validation">
      <div class="text-danger wrapper text-center" ng-show="authError">
          {{authError}}
      </div>
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="text" placeholder="Usuario" class="form-control no-border" ng-model="user.email" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Contrasena" class="form-control no-border" ng-model="user.password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="login()" ng-disabled='form.$invalid'>Ingresar</button>
      <div class="text-center m-t m-b"><a href="#">Olvido Contrasena?</a></div>
      <div class="line line-dashed"></div>
    </form>
  </div>
</div>