<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="m-n font-thin h3 text-black">Bienvenido a Pasaporte SAIME</h1>
                </div>
            </div>
        </div>
    
        <div class="wrapper-md" ng-controller="FormDemoCtrl">

            <div class="panel hbox hbox-auto-xs no-border">
                
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-center">
                        <div class="btn-group-vertical saime-menu" role="group" aria-label="Vertical button group">
                            <button ui-sref="saime.autenticacion" type="button" class="btn btn-default  saime-btn-menu">Inicie Sesión
                                <div class="triangulo-b"></div>
                            </button>
                            <button ui-sref="saime.tramites" type="button" class="btn btn-default saime-btn-menu">Registro
                                <div class="triangulo-y"></div>
                            </button>
                        </div>
                        <div class="text-center">
                            <a href="">¿Olvido Su Contraseña?</a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                        
  
            </div>

        </div>
    </div>
</div>