<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="m-n font-thin h3 text-black">SAIME al alcance de sus manos</h1>
                </div>
            </div>
        </div>
    
        <div class="wrapper-md" ng-controller="FBCtrl">

            <div class="panel hbox hbox-auto-xs no-border">
                
                <div ng-if="saime_like" class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-center">
                        <div class="btn-group-vertical saime-menu" role="group" aria-label="Vertical button group">
                            <button ui-sref="saime.autenticacion" type="button" class="btn btn-default  saime-btn-menu">Inicie Sesi&oacute;n
                                <div class="triangulo-b"></div><img src="img/icons/sesion.png" alt="" class="saime-icon">
                            </button>
                            <button ui-sref="saime.registro" type="button" class="btn btn-default saime-btn-menu">Registro
                                <div class="triangulo-y"></div><img src="img/icons/registro.png" alt="" class="saime-icon">
                            </button>
                        </div><br>
                        <div class="text-center">
                            <a ui-sref="saime.olvido_contrasena" >¿Olvid&oacute; su Contrase&ntilde;a?</a>
                        </div><br>
                    </div>
                    <div class="col-md-3"></div>
                </div>


                <div ng-if="!saime_like" class="row">
                    <br><br>
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-center">

                    <!--
                        <div class="btn-group-vertical saime-menu" role="group" aria-label="Vertical button group">
                            <button type="button" class="btn btn-default  saime-btn-menu">
                            <a class="twitter-button" href="https://www.facebook.com/pages/SAIME/120779134607103?ref=ts&fref=ts">  Dale me gusta a nuestra P&aacute;gina</a>
                                <div class="triangulo-b"></div><img src="img/icons/fb.png" alt="" class="saime-icon">
                            </button>

                            <button ng-click="login()">login</button> 

                    -->         
                            
                        </div>
                    

                        
                    
                        <div class="fb-like" data-href="https://www.facebook.com/pages/SAIME/120779134607103?ref=ts&amp;fref=ts" data-width="600" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>

                        <br><br>
                        
                    </div>
                    <div class="col-md-3"></div>
                </div>
                        
  
            </div>

        </div>
    </div>
</div>