
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 col-center">
                    <h1 class="m-n font-thin h3">No Autorizado</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md" ng-controller="MainCtrl">
            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-6">
                        <br><br>
                        <h3><p class="col-center">
                            Ud. No ha aceptado los t&eacute;rminos y condiciones.
                        </p></h3>
                        <br><br>
                        
                            
                            
                            <div class="col-sm-12">
                                <button ui-sref="saime.terminos" type="button" class="btn btn-lg btn-block btn-default saime-btn-yellow">Volver a intentar</button>
                            </div>
                            
                        
                        <br><br><br>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>