
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 col-center">
                    <h1 class="m-n font-thin h3">Noticias</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md" ng-controller="FormDemoCtrl">
            <div class="row">
                <div class="col-md-2">
                    <button ui-sref="saime.inicio" type="button" class="btn btn-saime-stand">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                </div>
                <div class="col-md-8">
                    <div class="saime-fecha-noticias">
                        25/01/2015
                    </div>
                    <p class="saime-titulo-noticias">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi quidem nisi corporis natus vel beatae? Voluptas fugit ea, dolorum et, blanditiis tempora rem odio, eius earum quaerat totam, sequi ab.</p>

                    <!--<img class="saime-imagen-noticias" src="img/prueba.png" alt="">-->

                    <p class="saime-contenido-noticias">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum dolor, placeat ipsam velit laborum officia eius illo, animi amet, optio voluptatem sed itaque omnis quo repudiandae voluptatum enim error molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium aliquam consectetur ducimus tempore, iusto dolores illo saepe quo deserunt. Consequatur dolorem cupiditate, vitae numquam, officiis cumque impedit fugiat corporis veritatis.

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nisi maiores, alias dolorum nobis ex, ullam fuga expedita magni quod earum, aut odit numquam accusantium quaerat. Rem, quae tenetur sequi!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ullam illum voluptatibus. Enim mollitia soluta, voluptatem quas obcaecati. Magni beatae veritatis quisquam minus eveniet vero distinctio, neque, possimus quod libero.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>