
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Oficinas</h1>
        </div>
      </div>
    </div>
    
    
<div class="wrapper-md" ng-controller="JVectorMapDemoCtrl">

  <div class="panel b-a">
    <div class="panel-body">
      <div class="row m-b-xl">
        <div class="col-sm-12">                      
          <div style="height:240px;" ui-jq="vectorMap" ui-options="{
            map: 'world_en',
            backgroundColor: '#fff',
            regionsSelectable: true,
            markersSelectable: true,
            showTooltip: true,
            markerStyle: {
              initial: {
                fill: '{{app.color.warning}}'
              },
              selected: {
                fill: '#ffffff'
              }
            },
            regionStyle: {
              initial: {
                fill: '{{app.color.info}}'
              },
              selected: {
                fill: '{{app.color.success}}'
              }
            },
            series: {
              markers: [{
                attribute: 'r',
                scale: [5, 15],
                values: [
                  187.70,
                  255.16,
                  310.69,
                  605.17,
                  248.31,
                  107.35,
                  217.22
                ]
              }]
            }
          }" >
          </div>

      </div>
    </div>
  </div>
</div>



  </div>
</div>