
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="m-n font-thin h3 text-black">Oficinas</h1>
                </div>
            </div>
        </div>
    
        <div class="wrapper-md" ng-controller="MapasCtrl">
            <div class="row">
                <div class="col-md-1">
                    <button ui-sref="saime.inicio" type="button" class="btn btn-saime-stand">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                </div>

                <div class="col-md-12"></div>
            </div>
            
            <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-12">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options="options">
                        <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" idkey="marker.id" options="marker.options" >
                            <ui-gmap-window coords="marker.coords">
                                <div>
                                    <b>Oficina: </b>{{marker.oficina}}<br>
                                    <b>Direcci&oacute;n: </b>{{marker.direccion}}<br>
                                    <b>Tel&eacute;fono: </b>{{marker.telefono}}
                                </div>
                            </ui-gmap-window>
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>

                <div class="col-md-3"></div>  
            </div>
        </div>
    </div>
</div>