
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">¿Olvidó Su Contraseña?</h2>
            </div>
          </div>
        </div>
        <div class="wrapper-md" ng-controller="FormDemoCtrl">
            <div class="row">
                <div class="col-md-3">
                    <button ui-sref="saime.login" type="button" class="btn btn-saime-stand">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                </div>
                

                <div class="col-md-6">
                    <form action="" class="form-horizontal">
                        <div class="form-group">
                            <input type="text" placeholder="Correo Electronico">                            
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Codigo de Confirmacion que Aparece Arriba">                            
                        </div>
                        <div class="text-center">
                            <!--<div   class="text-muted"><h4>Debe indicar al menos uno de los tres, Madre, Padre o Representante Legal</h4></div>-->
                            <button ui-sref="saime.buscar_menor_ven_ubicacion_nc" type="button" class="btn btn-saime-stand saime-btn-lg"> Enviar Contraseña</button>
                        </div> 
                    </form>
                <br>
                </div>
                <div class="col-md-3"></div> 
                  
            </div>
        </div>
    </div>
</div>