
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">¿Olvid&oacute; Su Contrase&ntilde;a?</h2>
            </div>
          </div>
        </div>
        <div class="wrapper-md" ng-controller="OlvidoContrasenaCtrl">
            <div class="row">
                <div class="col-md-3">
                    <button ui-sref="saime.login" type="button" class="btn btn-saime-stand">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                </div>
                

                <form name="formData" class="form-horizontal" novalidate>
                <div class="col-md-6" ng-if="!error">
                    
                        <p>La confirmaci&oacute;n de la nueva contrase&ntilde;a que se le asignar&aacute; ser&aacute; enviada a su direcci&oacute;n de correo electr&oacute;nico</p><br>
                        <div class="form-group" showo-errors>
                            <input required name="emailv" class="form-control" ng-model="formData.email" type="email" placeholder="Correo Electronico" ng-keyup="$event.keyCode == 13 && enviar(formData)">     
                            <p class="help-block" ng-if="formData.emailv.$error.required">El campo contrase&ntilde;a es requerido </p>
                            <p class="help-block" ng-if="formData.emailv.$error.email">Debe ingresar un correo v&aacute;lido</p>                       
                        </div>
                        <br>
                        <br>
                        <br>  
                        <div class="text-center">
                            <button ng-click="enviar(formData)" type="button" class="btn btn-saime-stand saime-btn-lg"> Enviar Contrase&ntilde;a</button>
                        </div> <br><br><br>
                    
                <br>
                </div>

                <div class="col-md-6" ng-if="error">
                    <div align="center" ng-bind-html="error_msg">{{error_msg}}</div>
                </div>
                </form>


                <div class="col-md-3"></div> 
                  
            </div>
        </div>
    </div>
</div>