
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">¿Olvid&oacute; Su Contrase&ntilde;a?</h2>
            </div>
          </div>
        </div>
        <div class="wrapper-md" ng-controller="OlvidoContrasenaCtrl">
            <div class="row">
                <div class="col-md-3">
                    <button ui-sref="saime.login" type="button" class="btn btn-saime-stand">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                </div>
                

                <div class="col-md-6">
                    <form name="formData" class="form-horizontal">
                        <p>La confirmaci&oacute;n de la nueva contrase&ntilde;a que se le asignar&aacute; ser&aacute; enviada a su direcci&oacute;n de correo electr&oacute;nico</p><br>
                        <div class="form-group">
                            <input required="true" ng-model="formData.email" type="email" placeholder="Correo Electronico">                            
                        </div>
                        <br>
                        <br>
                            <modal error="" visible="showModal"></modal>
                        <br>  
                        <div class="text-center">
                            <!--<div   class="text-muted"><h4>Debe indicar al menos uno de los tres, Madre, Padre o Representante Legal</h4></div>-->
                            <button ng-click="enviar(formData)" type="button" class="btn btn-saime-stand saime-btn-lg"> Enviar Contrase&ntilde;a</button>
                        </div> <br><br><br>
                    </form>
                <br>
                </div>
                <div class="col-md-3"></div> 
                  
            </div>
        </div>
    </div>
</div>