
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
    <div class="bg-light lter b-b wrapper-md">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="m-n font-thin h3 text-black">Otros Tr&aacute;mites</h1>
            </div>
        </div>
    </div>
    
    <div class="wrapper-md" ng-controller="OTramitesCtrl">
        <div class="row">
          <div class="col-md-3">
            <button ui-sref="saime.inicio" type="button" class="btn btn-saime-stand">
                <span class="fa fa-chevron-left fa-lg"></span>
            </button>
          </div>

          <div class="col-md-6" ng-if="!error"><br>
            
                <accordion close-others="oneAtATime">
                
                  

                  <accordion-group ng-repeat="tramite in tramites"  >
                      <accordion-heading heading="">{{tramite.titulo}} 
                        <div align="right">
                          <span class="badge">{{tramite.etiquetas}}</span>
                        </div>
                      </accordion-heading>
                      <span ng-bind-html="tramite.contenido"></span>
                  </accordion-group>

                </accordion>


          </div>

          <div class="col-md-6" ng-if="error">
                <div align="center" ng-bind-html="error_msg">{{error_msg}}</div>
            </div>

          <div class="col-md-3"></div>



      </div>

    </div>
  </div>
</div>