
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="m-n font-thin h3">Reclamos</h1>
            </div>
          </div>
        </div>
        
        <div class="wrapper-md" ng-controller="">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                      <input type="text" placeholder="Nombre y Apellido">
                      <input type="text" placeholder="Correo Electronico">
                      <textarea name="" class="reclamo-textarea" placeholder="Mensaje"></textarea>
                      <div class="form-group">
                        <div class="col-sm-3 saime-input">
                          <input type="text"  placeholder="Codigo">
                        </div>
                        <div class="col-sm-9 saime-input">
                          <input type="text" placeholder="Telefono Celular">
                        </div>
                      </div>
                      <input type="text" placeholder="Codigo de confirmacion que aparece arriba">
                      <p class="derecha"><i>(No se hace distincion entre mayusula y minusculas)</i></p>
                      <div class="form-group margen-reclamo-arriba">
                        <div class="text-center">
                          <button type="button" class="btn btn-saime-stand saime-btn-lg">Enviar</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <br><br>
            </form>
        </div>
    </div>
</div><br>


