
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">Registro de Nuevo Usuario</h2>
            </div>
          </div>
        </div>
        <div class="wrapper-md" ng-controller="RegistroCtrl">
            <div class="row">
                <div class="col-md-3">
                    <button ui-sref="saime.login" type="button" class="btn btn-saime-stand">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                </div>

                <form name="formData" class="form-horizontal" novalidate>
                <div class="col-md-6" ng-if="!error">
                    <p><h3>Datos Personales</h3></p>
                    <hr>
                    <div class="row">
                           
                        
                            <div class="form-group">

                                <div class="form-group" >

                                    <div class="col-sm-12 saime-input">

                                        <div class="form-group_se" showo-errors>
                                            <div class="col-xs-3 saime-input" >
                                                <label class="control-label">Tipo</label>
                                                 <select class="form-control" name="letravad" ng-model="formData.letra" ng-options="letra.id for letra in letras" required></select>
                                                 <p class="help-block" ng-if="formData.letravad.$error.required">Debe seleccionar el tipo de c&eacute;dula</p>
                                            </div>
                                        </div>

                                        <div class="form-group_se" showo-errors>
                                            <div class="col-xs-9 saime-input" >
                                                <label class="control-label">N&uacute;mero de C&eacute;dula</label>
                                                <input align="right" type="text" class="form-control" vld-cedula name="cedulav" ng-model="formData.cedula" required />
                                                <p class="help-block" ng-if="formData.cedulav.$error.required">El campo c&eacute;dula es requerido</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <div class="form-group" showo-errors>
                                <div class="col-sm-12 saime-input" >
                                    <label class="control-label">Primer Nombre</label>
                                    <input class="form-control" vld-texto ng-model="formData.firstName" name="firstnamev" type="text" required />
                                    <p class="help-block" ng-if="formData.firstnamev.$error.required">El primer nombre es requerido</p>
                                </div>
                            </div>

                            <div class="form-group" showo-errors>
                                <div class="col-sm-12 saime-input" >
                                    <label class="control-label">Primer Apellido</label>
                                    <input class="form-control" vld-texto ng-model="formData.lastName" name="lastnamev" type="text" required />
                                    <p class="help-block" ng-if="formData.lastnamev.$error.required">El primer apellido es requerido</p>
                                </div>
                            </div>

                            <div class="form-group" showo-errors>
                                <div class="col-sm-12 saime-input" >
                                    <label class="control-label">Correo Electr&oacute;nico</label>
                                    <input class="form-control" ng-model="formData.email" name="emailv" type="email" required />
                                    <p class="help-block" ng-if="formData.emailv.$error.required">El campo correo electr&oacute;nico es requerido</p>
                                    <p class="help-block" ng-if="formData.emailv.$error.email">Debe ingresar un correo v&aacute;lido</p>
                                </div>
                            </div>

                            <div class="form-group" showo-errors>
                                <div class="col-sm-12 saime-input" >
                                    <label class="control-label">Correo Alternativo</label>
                                    <input class="form-control" ng-model="formData.altEmail" name="altemailv" type="email" />
                                    <p class="help-block" ng-if="formData.altemailv.$error.email">Debe ingresar un correo v&aacute;lido</p>
                                </div>
                            </div>


                            <div class="form-group">

                                <div class="form-group" >

                                    <div class="col-sm-12 saime-input">

                                        <div class="form-group_se" showo-errors>
                                            <div class="col-xs-3 saime-input" >
                                                <label class="control-label">C&oacute;digo</label>
                                                 <select class="form-control" name="phonecodevad" ng-model="formNoData.phone_code" ng-options="codigo.numero for codigo in codigosc" required></select>
                                                 <p class="help-block" ng-if="formData.phonecodevad.$error.required">Debe seleccionar el c&oacute;digo de tel&eacute;fono </p>
                                            </div>
                                        </div>

                                        
                                        <div class="form-group_se" showo-errors>
                                            <div  class="col-xs-9 saime-input">
                                                <label class="control-label">Tel&eacute;fono</label>
                                                <input class="form-control" vld-telefono ng-model="formNoData.phone" name="phonev" type="text" required />
                                                <p class="help-block" ng-if="formData.phonev.$error.required">El tel&eacute;fono es requerido</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>




                            <br>               
                            
                            <div class="form-group">
                                <div class="col-xs-6 col-center">
                                    <button ng-click="guardar(formData)" type="button" class="btn saime-btn-yellow full-width">Aceptar</button>
                                </div>
                                <div class="col-xs-6 col-center">
                                    <button ng-click="reset()" type="button" class="btn saime-btn-blue full-width">Restablecer</button>
                                </div>
                            </div>
                        
                        <br>
                    </div>
                <br>
                </div>


                <div class="col-md-6" ng-if="error">
                    <div align="center" ng-bind-html="error_msg">{{error_msg}}</div>
                </div>
                </form>


                <div class="col-md-3"></div>    
                </div>
        </div>
    </div>
</div>