
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2>Registro Datos Personales</h2>
            </div>
          </div>
        </div>
        
        <div class="wrapper-md" ng-controller="FormDemoCtrl">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p><h3>Datos Personales</h3></p>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" placeholder="Primer nombre">        
                                <input type="text" placeholder="Primer apellido">
                                <input type="text" placeholder="Fecha de Nacimiento">
                                <select type="text">
                                    <option>Sexo</option>
                                    <option>Masculino</option>
                                    <option>Femenino</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Segundo nombre">        
                                <input type="text" placeholder="Segundo apellido">
                                <p class="text-aside-input"> Ej: 27/10/2006</p>
                            </div>    
                        </div>
                        <br>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p><h3>Datos De Nacionalidad</h3></p>
                        <select type="text">
                            <option>Pais de Nacimiento</option>
                            <option>Venezuela</option>
                        </select>
                        <select type="text">
                            <option>Ciudad</option>
                            <option>San Juan</option>
                        </select>
                        <div class="row">
                            <div class="col-md-6">
                                <select type="text">
                                    <option>Estado</option>
                                    <option>San Juan</option>
                                </select>
                                <select type="text">
                                    <option>Municipio</option>
                                    <option>San Juan</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select type="text">
                                    <option>Parroquia</option>
                                    <option>San Juan</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="text-center">
                    <button ui-sref="saime.registro_datos_personales_ubicacion" type="button" class="btn btn-saime-stand saime-btn-lg">Continuar</button>
                </div>
            </form>
        </div>
    </div>
</div><br><br><br>


