
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">Registro de Nuevo Usuario</h2>
            </div>
          </div>
        </div>
        <div class="wrapper-md" ng-controller="RegistroCtrl">
            <modal error="" visible="showModal"></modal>
            <div class="row">
                <div class="col-md-3">
                    <button ui-sref="saime.login" type="button" class="btn btn-saime-stand">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                </div>

                <div class="col-md-6">
                    <p><h3>Datos Personales</h3></p>
                    <hr>
                    <div class="row">
                        <form name="formData" class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3 saime-input">
                                    
                                    <ui-select ng-model="formData.letra" ng-disabled="disabled" style="width: 100%;" title="Letra">
                                        <ui-select-match placeholder="Tipo...">{{$select.selected.letra}}</ui-select-match>
                                        <ui-select-choices repeat="letra.id as letra in letras">
                                          <span ng-bind-html="letra.letra"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-sm-9 saime-input">
                                    <input vld-cedula ng-model="formData.cedula" type="number" placeholder="N&uacute;mero de C&eacute;dula">
                                </div>
                            </div>
                            
                            <input vld-texto ng-model="formData.firstName" type="text" placeholder="Primer Nombre" >
                            <input vld-texto ng-model="formData.lastName" type="text" placeholder="Primer Apellido" >
                            <input ng-model="formData.email" type="email" placeholder="Correo Electr&oacute;nico" >                            
                            <input ng-model="formData.altEmail" type="email" placeholder="Correo Alternativo" >

                            <div class="form-group">
                                <div class="col-sm-3 saime-input">
                                    <ui-select ng-model="formNoData.phone_code" ng-disabled="disabled" style="width: 100%;" title="Codigo">
                                        <ui-select-match placeholder="C&oacute;digo...">{{$select.selected.numero}}</ui-select-match>
                                        <ui-select-choices repeat="codigo.numero as codigo in codigos">
                                          <span ng-bind-html="codigo.numero"></span>
                                        </ui-select-choices>
                                    </ui-select>

                                </div>
                                <div class="col-sm-9 saime-input">
                                    <input vld-telefono ng-model="formNoData.phone" type="number" placeholder="Tel&eacute;fono Celular">
                                </div>
                            </div>

                            <br>
                                <div align="center" class="text-muted">
                                    <h5>Todos los campos son requeridos</h5><br>
                                </div>
                            <br>               
                            
                            <div class="form-group">
                                <div class="col-md-6 col-center">
                                    <button ng-click="guardar(formData)" type="button" class="btn saime-btn-yellow full-width">Aceptar</button>
                                </div>
                                <div class="col-md-6 col-center">
                                    <button ng-click="reset()" type="button" class="btn saime-btn-blue full-width">Restablecer</button>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                <br>
                </div>
                <div class="col-md-3"></div>    
                </div>
        </div>
    </div>
</div>