
<div class="hbox hbox-auto-xs hbox-auto-sm">
    <div class="col">
        <div class="bg-light lter b-b wrapper-md">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="m-n font-thin  text-black">Registro Datos Personales</h2>
            </div>
          </div>
        </div>
        <div class="wrapper-md" ng-controller="FormDemoCtrl">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row">
                        <form action="" class="form-horizontal">
                            <select>
                                <option>Estdo</option>
                            </select>
                            <select>
                                <option>Municipio</option>
                            </select>
                            <select>
                                <option>Parroquia</option>
                            </select>
                            <input type="text" placeholder="Ciudad" >                                                        
                            <input type="text" placeholder="Urbanizacion" >
                            <input type="text" placeholder="Nro. Casa / Apto." >
                            <input type="text" placeholder="Av / Calle" >
                            <input type="text" placeholder="Codigo Postal" >

                            <div class="form-group">
                                <div class="col-sm-3 saime-input">
                                    <input type="text"  placeholder="Codigo">
                                </div>
                                <div class="col-sm-9 saime-input">
                                    <input type="text" placeholder="Telefono Celular">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3 saime-input">
                                    <input type="text"  placeholder="Codigo">
                                </div>
                                <div class="col-sm-9     saime-input">
                                    <input type="text" placeholder="Telefono Residencial">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3 saime-input">
                                    <input type="text"  placeholder="  Codigo">
                                </div>
                                <div class="col-sm-9     saime-input">
                                    <input type="text" placeholder="Telefono Trabajo">
                                </div>
                            </div>

                            <input type="text" placeholder="Codigo de confirmacion que aparece arriba" >                            
                            
                            <div class="form-group">
                                <div class="text-center">
                                    <button ui-sref="saime.buscar_menor_ven_ubicacion_nc" type="button" class="btn btn-saime-stand saime-btn-lg">Continuar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                <br>
                </div>
                <div class="col-md-2"></div>    
                </div>
        </div>
    </div>
</div>