
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Solicitud de Pasaporte en Venezuela</h1>
        </div>
      </div>
    </div>

    <p>Los siguientes enlaces le permitiran bla bla bla...</p>
    
    <div class="wrapper-md" ng-controller="FlotChartDemoCtrl">

      <div class="panel hbox hbox-auto-xs no-border">
  
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

          <button type="button" class="btn btn-default">Registro de Datos Personales</button>
          <button ui-sref="saime.solicitudes_menores" type="button" class="btn btn-default">Registro de datos de Nino, Nina o Adolescente</button>

        </div>
  
      </div>

    </div>
  </div>
</div>