
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">Registro de Datos de Nino, Nina o Adolescente</h1>
        </div>
      </div>
    </div>
    
    <div class="wrapper-md" ng-controller="FormDemoCtrl">

      <div class="panel hbox hbox-auto-xs no-border">
  
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">

          <button ui-sref="saime.buscar_menor_ven" type="button" class="btn btn-default">Venezolanos por Nacimiento 
            <br><small class="text-muted">mayores 9 anos cedulados</small>
          </button>

          <button ui-sref="saime.buscar_menor_ven_nc" type="button" class="btn btn-default">Venezolanos por Nacimiento
            <br><small class="text-muted">menores 9 anos no cedulados</small>
          </button>
          
          <button ui-sref="saime.buscar_menor_ext" type="button" class="btn btn-default">Venezolanos por Naturalizacion
            <br><small class="text-muted">mayores 9 anos cedulados</small>
          </button>
          
          <button ui-sref="saime.buscar_menor_ext_nc" type="button" class="btn btn-default">Venezolanos por Naturalizacion
            <br><small class="text-muted">menores 9 anos no cedulados</small>
          </button>

        </div>
  
      </div>

    </div>
  </div>
</div>