
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 col-center">
                    <h1 class="m-n font-thin h3">Términos y Condiciones</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md" ng-controller="FormDemoCtrl">
            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">
                    <div class="col-md-3">
                        <button ui-sref="saime.inicio" type="button" class="btn btn-saime-stand">
                            <span class="fa fa-chevron-left fa-lg"></span>
                        </button>
                    </div>
                    <div class="col-md-6 col-center saime-terminos-texto">
                        <p>
                            Para poder obtener los servicios del pasaporte, usted debe registrarse previamente. Para ello, debe ingresar
                            los datos que se solicitan a continuación, los cuales serán procesados en un breve plazo. Una vez comprobada
                            la validez de la información, se le enviara su clave de acceso al sitio para utilizar el servicio de solicitud de pasaportes. 
                        </p>
                        <p>
                            Las condificiones para registrarse implican que usted debe ser un ciudadano cedulado y poseer una direccion de
                            correo electronico. Si aun no cuenta con una dirección de correo, acceda a un servido de internet que brinde este 
                            servicioy regístrese en esta pagina. Debe suministrar además, un numero de teléfono válido que será utilizado para
                             comunicarnos con usted ante cualquier dificultad.
                        </p>
                        <p>
                            En el caso de menores de 18 años de edad <b>NO SE REGISTRA</b> la solicitud, solo el padre, la madre, o un representante legal pueden efectuar la solicitud de su pasaporte.
                        </p>
                            <div class="saime-radio">
                                <input type="radio" id="radio01" name="radio" />
                                <label for="radio01">
                                    <span></span> 
                                </label>
                            </div>
                            <div class="saime-radio-label">Acepto y deseo contiuar</div>
                        <div class="btn-group-vertical saime-menu" role="group" aria-label="Vertical button group">
                            <button ui-sref="saime.menu_solicitud_ven" type="button" class="btn btn-default saime-btn-yellow">Continuar</button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>