
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 col-center">
                    <h1 class="m-n font-thin h3">T&eacute;rminos y Condiciones</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md" ng-controller="FBCtrl">
            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">
                    <div class="col-md-3">
                        
                    </div>
                    <div class="col-md-6 col-center saime-terminos-texto">
                        <p>
                            Para poder obtener los servicios del pasaporte, usted debe registrarse previamente. Para ello, debe ingresar
                            los datos que se solicitan a continuación, los cuales serán procesados en un breve plazo. Una vez comprobada
                            la validez de la información, se le enviara su clave de acceso al sitio para utilizar el servicio de solicitud de pasaportes. 
                        </p>
                        <p>
                            Las condiciones para registrarse implican que usted debe ser un ciudadano cedulado y poseer una direcci&oacute;n de
                            correo electr&oacute;nico. Si aun no cuenta con una dirección de correo, acceda a un servicio de internet que brinde &eacute;ste ultimo y regístrese en esta pagina. Debe suministrar además, un numero de teléfono válido que será utilizado para comunicarnos con usted ante cualquier dificultad.
                        </p>
                        <p>
                            En el caso de menores de 18 años de edad <b>NO SE REGISTRA</b> la solicitud, solo el padre, la madre, o un representante legal pueden efectuar la solicitud de su pasaporte.
                        </p>
                        <br><br>
                        <div class="form-group">
                            
                            <div class="col-sm-6">
                                <button ui-sref="saime.login" type="button" class="btn btn-lg btn-block btn-default saime-btn-blue">Continuar</button>
                            </div>
                            <div class="col-sm-6">
                                <button ui-sref="saime.noauth" type="button" class="btn btn-lg btn-block btn-default saime-btn-yellow">Cancelar</button>
                            </div>
                            
                        </div>
                        <br><br><br>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>