
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 col-center">
                    <h1 class="m-n font-thin ">¿Olvidó Su Contraseña?</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md" ng-controller="OlvidoContrasenaCtrl">
            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-center">
                        <h1><i class="fa fa-check fa-3"></i></h1>
                        <h5>Se le ha enviado su contraseña</h5>
                        <h5>a su correo principal</h5>
                        <h5>y correo alternativo</h5><br><br>
                        <div class="saime-menu" role="group" aria-label="Vertical button group">
                            <button ui-sref="saime.autenticacion" type="button" class="btn btn-saime-stand saime-btn-lg">Iniciar Sesion</button>
                        </div>
                        <br><br><br><br>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>  