
<div class="hbox hbox-auto-xs hbox-auto-sm">
  
    <div class="col">
    
        <div class="bg-light lter b-b wrapper-md">
            <div class="row">
                <div class="col-md-12 col-center">
                    <h1 class="m-n font-thin ">Solicitud Pasaporte en el Exterior</h1>
                </div>
            </div>
        </div>
        <div class="wrapper-md" ng-controller="MainCtrl">
            <div class="panel hbox hbox-auto-xs no-border">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 col-center">
                        <h1><i class="fa fa-info fa-3"></i></h1>
                        <p class="p-success">
                            Estimado ciudadano, usted ya tiene hecho el pasaporte.  
                        </p>
                        <!--<div class="btn-group-vertical saime-menu" role="group" aria-label="Vertical button group">
                            <button ui-sref="saime.autenticacion" type="button" class="btn btn-saime-stand saime-btn-lg">Iniciar Sesion</button>
                        </div>-->
                        <br><br>
                        <div class="form-group">
                            <div class="text-center">
                                <button ui-sref="saime.inicio" type="button" class="btn btn-saime-stand saime-btn-lg">Continuar</button>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>  